.center-content {
  text-align: center;
}

select,input{
  width: 30%;
  display: inline-block;
}

button {
  color: blue;
  margin-left: 10px;
}

table.all {
  margin: auto;
  width: 50%;
  height: auto;
}

.search {
  display: inline-block;
  margin: 10px 10px 10px auto;
}

.delete{
  color: red;
}

.return, .update-btn, .edit-btn, .create-btn {
  margin: 10px;
  width: 10%;
  display: inline-block;
}

table.detail {
  margin: auto;
  width: 30%;
  height: auto;

}

.edit, .create {
  margin: auto;
  width: 50%;
  height: auto;
}

.edit-box {
  display: inline-block;
  vertical-align: middle;
}

.image {
  width: 65px;
  height: 96px;
}

